$persian-green: #099;
$teal:#008080;
$dusty-grey:#999999;
$flirt:#990073;
$crimson:#990073;
$fun-green:#009926;
$silver:#bbb;
$navy-blue:#000080;
$emperor:#555555;
$red-berry:#990000;
$mercury:#E8E8E8;
$black:#000;
$fresh-eggplant:#800080;
$east-bay:#445588;
$bondy-blue:#0086B3;
$bright-red:#AA0000;
$silver-chalice:#AA0000;
$grey: #888888;
$mint-green: #AAFFAA;
$snowy-mint: #DDFFDD;
$cornflower-lilac: #FFAAAA;
$pippin: #FFAAAA;
$wafer: #E3D2D2;
$lemon-grass: #999988;
$white:#fff;
$titan-white:#eef;
$grey2:#828282;
$tamarillo:#A61717;
$white2:#fdfdfd;
$tundora:#424242;
$royal-blue:#2a7ae2;
$fun-blue:#1756A9;
$cod-grey: #111111;
$alabaster: #f7f7f7;
$mine-shaft: #3f3f3f;
$gallery: #f0f0f0;
$alto: #dedede;